
header {
  background: #fbcd5c;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}
header span {
  font-size: 2rem;
}

body {
  background: #eaeaea;
  padding: 0;
  margin: 0;
}

@media screen and (max-width:767px) {
  header span {
    font-size: 1.2rem;
  }
}
